body {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

#main-container {
  border: 5px solid green;
  padding: 16px;
  text-align: center;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

#alert-message-container {
  border: 2px solid green;
  margin: 0 auto;
  max-width: 520px;
  padding: 10px;
  margin-bottom: 5px;
  height: 25px;
  font-weight: bold;
}

#inner-container {
  border: 2px solid green;
  margin: 0 auto;
  max-width: 520px;
  margin-bottom: 5px;
  text-align: left;
  padding: 10px;
}

#button-container {
  border: 2px solid green;
  margin: 0 auto;
  max-width: 520px;
  padding: 10px;
}

#text-field {
  height: 32px;
  font-size: 1.5em;
  text-align: center;
  background-color: #E8E8E8;/* lightgray background */
}

#guess-button, #restart-button {
  height: 32px;
  font-size: 1.5em;
  cursor: pointer;
}

h4 {
  display: inline;
}

ul {
  display: inline;
  padding-left: 2px;
}

.list-style {
  display: inline;
  list-style: none;
  margin-right: 2px;
  padding: 2px;
}

#border-style-green {
  border: 2px solid green;
}
